.projects {
    @include section;
    padding: 0;

    .headline {
        margin-left: 2rem;
    }
}

.filters {
    display: flex;
    justify-content: flex-end;
    gap: .5em;
    padding: 0 1em;

    label {
        display: block;
        font-size: .8rem;
        margin-bottom: .5em;
    }
}

.project-list {
    display: flex;
    gap: 1em;
    overflow: scroll;
    padding: 1em 2em;

    @media (min-width: $bp-large) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-auto-flow: row;
    }
}

.project {
    position: relative;
    min-width: 15rem;
    max-width: 400px;
    max-height: 30rem;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 2px rgba(white, .02);
    border-style: none solid none;
    border-radius: 10px;
    background-color: rgba(white, .03);
    box-shadow: 0 0 20px rgba(black, .5);
    animation: card-reveal .4s;

    &.loading {
        display: none;
    }

    &__image {
        border-radius: 8px;
        height: 200px;
        background-color: rgba(white, .05);
        border: 2px solid rgba(white, .01);
    }

    .icon-wrapper {
        position: absolute;
        top: 1.5em;
        right: 1.5em;
        display: flex;
        gap: .5em;
    }

    &__icon {
        color: rgb(160, 160, 160);
        font-size: .8rem;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
        text-align: center;        
    }

    &__description {  
        flex: 1 1 200px;
        overflow: scroll;
    }

    .button {
        margin-bottom: .5em;
        font-size: .8rem;
    }
}

@keyframes card-reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

