@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0F1624;
}
@media (min-width: 600px) {
  html, body {
    font-size: 24px;
  }
}

* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: white;
}

ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.link:hover, i:hover {
  background: linear-gradient(to left, #13ADC7, #6978D1, #945DD6);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: brightness(120%);
  cursor: pointer;
}

.headline {
  font-size: 1.5rem;
}

.button {
  display: block;
  font-size: 1rem;
  padding: 0.5em 2em;
  border: none;
  border-radius: 83px;
  text-align: center;
}
.button.primary {
  background: linear-gradient(to left, #13ADC7, #6978D1, #945DD6);
}
.button.secondary {
  background: linear-gradient(to right, #13ADC7, #6978D1, #945DD6);
}
.button:hover {
  cursor: pointer;
  color: white;
  filter: brightness(120%);
}

.line {
  display: block;
  margin: 0.5em auto;
  content: "";
  width: 70%;
  height: 4px;
  border-radius: 83px;
  background: linear-gradient(to left, #13ADC7, #6978D1, #945DD6);
}

select {
  background-color: #0F1624;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  font-size: 0.7rem;
  padding: 0.4em;
}

option {
  border: none;
}

progress, progress::-webkit-progress-bar {
  display: block;
  border: none;
  border-radius: 83px;
  background-color: #162950;
}

progress::-webkit-progress-value {
  border-radius: 83px;
  background: linear-gradient(to left, #13ADC7, #6978D1, #945DD6);
}

progress::-moz-progress-bar {
  border-radius: 83px;
  background: linear-gradient(to left, #13ADC7, #6978D1, #945DD6);
}

* {
  scrollbar-width: thin;
  scrollbar-color: white;
}
*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: none;
}
* ::-webkit-scrollbar-corner {
  background: transparent;
}

.header {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 8em;
  padding: 0 2em;
  margin: 0 auto;
}

.header__title {
  font-size: 2rem;
  padding-left: 1.3em;
  background-image: url("logo.svg");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 2rem auto;
}

.main-nav {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 8em;
  padding: 0 2em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
}
.main-nav__menu, .main-nav__socials {
  display: none;
  margin: 0;
  gap: 4em;
}
@media (min-width: 1000px) {
  .main-nav__menu, .main-nav__socials {
    display: flex;
  }
}
.main-nav__socials {
  gap: 1em;
}

.button-open, .button-close {
  display: none;
  border: none;
  background: transparent;
  font-size: 2.5rem;
}

.button-close {
  font-size: 3rem;
}

@media (max-width: 1000px) {
  .button-open {
    display: block;
    position: absolute;
    top: 0;
    right: 0.5em;
  }
  .main-nav.open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 900;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    animation: fade-in 0.2s;
  }
  .main-nav.open .button-open {
    display: none;
  }
  .main-nav.open .button-close {
    display: block;
    position: absolute;
    top: 0.4em;
    right: 0.8em;
    z-index: 1001;
    animation: fade-in 0.5s;
  }
  .main-nav.open .main-nav__menu {
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 1em;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #0F1624;
    font-size: 1.5rem;
    animation: menu-reveal 0.2s;
  }
}
@keyframes menu-reveal {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hero {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 8em;
  padding: 0 2em;
}
.hero__portrait {
  max-width: 6em;
  border-radius: 50%;
  float: left;
  padding: 1em;
}

.projects {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 8em;
  padding: 0 2em;
}

.filters {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
}

.project-list {
  display: flex;
  column-gap: 4em;
  row-gap: 2em;
  overflow: scroll;
  padding: 1em;
}
@media (min-width: 1000px) {
  .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-flow: row;
  }
}

.project {
  position: relative;
  min-width: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 2px rgba(255, 255, 255, 0.02);
  border-style: none solid none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.project__image {
  border-radius: 8px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.01);
}
.project .icon-wrapper {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  display: flex;
  gap: 0.5em;
}
.project__icon {
  color: rgb(160, 160, 160);
  font-size: 0.8rem;
}
.project__title {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}
.project__description {
  flex: 1 1 200px;
  overflow: scroll;
}
.project .button {
  margin-bottom: 0.5em;
  font-size: 0.8rem;
}

.technologies {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 8em;
  padding: 0 2em;
}

.skill-list {
  padding: 1em 0;
}

.skill {
  width: 80%;
  margin: 2em auto;
}
.skill__indicator {
  width: 100%;
  height: 1em;
}
.skill__label {
  margin: 0 1em;
  font-size: 1rem;
}
.skill__level {
  margin: 0 1em;
  font-size: 0.8rem;
  float: right;
}

.add-skill-list {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
  margin: 1em auto;
  list-style-position: inside;
  list-style-type: disc;
  font-size: 1rem;
}

.about-me {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 8em;
  padding: 0 2em;
}

.timeline {
  display: none;
  max-width: 70%;
  margin: 0.5em auto;
  margin-top: 3em;
  justify-content: space-between;
  align-items: center;
  height: 0.5em;
  background-color: white;
  border-radius: 5px;
}
.timeline__marker {
  width: 1em;
  height: 1em;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.years {
  text-align: center;
}
.years span {
  text-decoration: underline;
  font-size: 1.3rem;
}

@media (min-width: 1000px) {
  .timeline {
    display: flex;
  }
  .years {
    display: flex;
    gap: 1em;
  }
}
.footer {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 8em;
  padding: 0 2em;
  margin-bottom: 2em;
}
.footer__contacts li {
  margin: 1em 0;
}
.footer__contacts a {
  display: block;
}
.footer__socials {
  display: flex;
  gap: 1em;
  font-size: 2rem;
}

@media (min-width: 1000px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__contacts {
    display: flex;
    gap: 3em;
  }
}

/*# sourceMappingURL=main.css.map */
