@import "variables.scss";
@import "mixins.scss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $c-darkblue;

    @media (min-width: $bp-medium) {
        font-size: 24px;
    }
}

* {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: white;
}

ul, menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    object-fit: cover;
}

 

@import "misc.scss";

@import "sections/header.scss";
@import "sections/main-nav.scss";
@import "sections/hero.scss";
@import "sections/projects.scss";
@import "sections/technologies.scss";
@import "sections/about-me.scss";
@import "sections/footer.scss";