.link:hover, i:hover {
    background: linear-gradient(to left, #13ADC7, #6978D1, #945DD6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(120%);
    cursor: pointer;
}

.headline {
    font-size: 1.5rem;
}

.button {
    display: block;
    font-size: 1rem;
    padding: .5em 2em;
    border: none;
    border-radius: 83px;
    text-align: center;

    &.primary {
        background: linear-gradient(to left, #13ADC7, #6978D1, #945DD6);
    }

    &.secondary {
        background: linear-gradient(to right, #13ADC7, #6978D1, #945DD6);
    }

    &:hover {
        cursor: pointer;
        color: white;
        filter: brightness(120%);
    }
}

.line {
    @include line(70%, 4px);
}

select {
    background-color: $c-darkblue;
    border: 2px solid rgba(white, .1);
    border-radius: 5px;
    font-size: .7rem;
    padding: .4em;
}

option {
    border: none;
}

progress, progress::-webkit-progress-bar {
    display: block;
    border: none;
    border-radius: 83px;
    background-color: #162950;
}

progress::-webkit-progress-value
 {
    border-radius: 83px;
    background: linear-gradient(to left, #13ADC7, #6978D1, #945DD6);
}

progress::-moz-progress-bar {
    border-radius: 83px;
    background: linear-gradient(to left, #13ADC7, #6978D1, #945DD6);
}

* {
    scrollbar-width: thin;
    scrollbar-color: white;

    &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(white, .5);
        border-radius: 10px;
        border: none;
    }

    ::-webkit-scrollbar-corner {
        background: transparent;
    }
}